global-exclude __pycache__
global-exclude *.pyc
recursive-include src/picodome/docs *.md
include LICENSE
include README.md
include CHANGELOG.md
include SECURITY.md
include CONTRIBUTING.md
include SLSA.md
include SCAAT.md
include CITATION.cff
include pyproject.toml